@model TCP.ViewModels.LoginModel

@{
    ViewData["Title"] = "MainPage";
}


<div style="border-radius:25px; border:2px solid black; padding:15px; background-color: white; width: fit-content" >
    <h2>Вход на сайт</h2>
    <form asp-action="Index" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <label asp-for="Email">Введите Email</label>
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль</label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-outline-dark" />
            </div>
        </div>
    </form>
    <form asp-action="GoogleLogin" asp-controller="Account" asp-antiforgery="true">
        <button type="submit" value="Войти" style="border-radius:5px">
            <img src="https://www.flaticon.com/svg/vstatic/svg/2875/2875331.svg?token=exp=1610611986~hmac=35ee8ac9f19e1870552cab70e1cb1ff6" style: width="32" height="32" alt="Здесь могла быть ваша реклама" />
        </button>
    </form>
    <a asp-action="Register" asp-controller="Account">Регистрация</a>
</div>


