@model IEnumerable<TCP.Models.User>

@{
    ViewData["Title"] = "Leaderboard";
}



<div style="border-radius:25px; border:2px solid black; padding:15px; background-color: white; width: fit-content">
    <h1>Table of Users</h1>

    
    <table class="table" style="align-content:center">
        <thead>
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.Nickname)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Highscore)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>  
                    <td>
                        @Html.DisplayFor(modelItem => item.Nickname)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Highscore)
                    </td>                    
                </tr>
            }
        </tbody>
    </table>
</div>